* {
  font-family: Helvetica, Arial, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  padding: 4rem;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 2rem;
}

input {
  color: grey;
  font-size: 2rem;
  width: 100%;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  border: 1px solid grey;
  border-radius: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  overflow: hidden;
}

.card p {
  padding: 5px;
  text-align: center;
}

.card img {
  max-height: 17rem;
}
